@(userForm: play.data.Form[User])

@import helper._
@import play.api.data.Forms._

@main("VolantoCRM") {
   <h1>New user registration</h1>
   @form(routes.Application.newUser()) {
      @inputText(userForm("name"), '_label -> "Name")
      @inputText(userForm("email"), '_label -> "Email")
      @inputPassword(userForm("password"), '_label -> "Password")
      @inputText(userForm("phone"), '_label -> "Phone")
      @inputText(userForm("companyName"), '_label -> "Company Name")
      <input type="submit" class="btn btn-primary" value="Create User">
   }
   <a href="@routes.Application.index()">Back</a>
}